$primary-color:#2a2a2a;
$secondary-color:#950cf0;
$color:#fff;


body {
  font-family: 'Lato', sans-serif;
}

.bg-dark {
  background: $primary-color!important;
}


.navbar-brand h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.navbar-nav a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 20px 0 20px!important;
}

.hero {
  background: url("/dist/images/laptop-desk.jpg");
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-position: 50% 50%;
  background-size: cover;
  top:-70px;
  h1 {
    position: relative;
    z-index: 10;
  }
}

.hero-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.tiles {
  margin:-150px auto auto auto;
  position: absolute;
  left: 0;
  right: 0;
    .row {
      max-width:900px!important;
      background:pink;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
}

.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  

  /*     GAMES-WRITING      */
  .games-writing, .games-writing-article {
    .hero-overlay {
      img {
        width: 100%;
        max-height: 375px;
        object-fit: cover;
        object-position: 0% 10%;
      }
      height: 375px !important;
    }
    .hero {
      position: relative;
      padding-top: 90px;
      padding-bottom: 0px;
      //top: -70px;
      background:url("https://images.unsplash.com/photo-1585881728919-5c0ce925ad10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
      background-size: cover;
      height:375px;
    }
  }

.games-writing-article {
  .container {
    margin-top: -50px;
    background:#fff;
    position:relative;
    max-width:1020px;
  }
  .page-content {
    margin: 50px;
  }
  img {
      max-width: 100%;
      height: auto;
	  margin-top: -75px;
	  max-width: 100%;
	  object-fit: cover;
	  width: 100%;
  }
}  

.games-writing header.masthead,
.games-writing-article header.masthead {
	min-height: 25rem!important;
	max-height: 25rem;
}



/*cards*/
.card {
  border:0!important;
  .category {
    position:absolute;
    right:1px;
    top:10px;
    border-radius:0;
    padding:2px;  
  }
  a {
    text-decoration: none;
    color: #2a2a2a;
  }
  .card-img-top {
    height:250px;
    object-fit:cover;
  }
}
/*nav*/
#mainNav {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #fff;
	transition: background-color 0.2s ease;
	.navbar-brand {
		font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-weight: 700;
		color: #212529;
	}
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: #6c757d;
				font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
				font-weight: 700;
				font-size: 0.9rem;
				padding: 0.75rem 0;
				&:hover {
					color: #f4623a;
				}
				&:active {
					color: #f4623a;
				}
			}
			.nav-link.active {
				color: #f4623a !important;
			}
		}
	}
}
header.masthead {
	//padding-top: 10rem;
	padding-bottom: calc(10rem - 4.5rem);
	// background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	h1 {
		font-size: 2.25rem;
	}
	.h1 {
		font-size: 2.25rem;
	}
}
#portfolio {
	.container-fluid {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
	.container-sm {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
	.container-md {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
	.container-lg {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
	.container-xl {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
	.container-xxl {
		max-width: 1920px;
		.portfolio-box {
			position: relative;
			display: block;
			.portfolio-box-caption {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0;
				color: #fff;
				background: rgba(244, 98, 58, 0.9);
				transition: opacity 0.25s ease;
				text-align: center;
				.project-category {
					font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 0.85rem;
					font-weight: 600;
					text-transform: uppercase;
				}
				.project-name {
					font-size: 1.2rem;
				}
			}
			&:hover {
				.portfolio-box-caption {
					opacity: 1;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	#mainNav {
		box-shadow: none;
		background-color: transparent;
		.navbar-brand {
			color: rgba(255, 255, 255, 0.7);
			&:hover {
				color: #fff;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: rgba(255, 255, 255, 0.7);
					padding: 0 1rem;
					&:hover {
						color: #fff;
					}
				}
				&:last-child {
					.nav-link {
						padding-right: 0;
					}
				}
			}
		}
	}
	#mainNav.navbar-shrink {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		background-color: #fff;
		.navbar-brand {
			color: #212529;
			&:hover {
				color: #f4623a;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: #212529;
					&:hover {
						color: #f4623a;
					}
				}
			}
		}
	}
	
	header.masthead {
	//	height: 70vh;
	//	min-height: 30rem;
	//	padding-bottom: 0;
		p {
			font-size: 1.15rem;
		}
		h1 {
			font-size: 3rem;
		}
		.h1 {
			font-size: 3rem;
		}

	}
}

header.masthead {
height: 70vh;
min-height: 30rem;
padding-bottom: 0;
}

.hero-img {
	margin-top: -100px;
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: relative;
}

@media (min-width: 1200px) {
	header.masthead {
		h1 {
			font-size: 3.5rem;
		}
		.h1 {
			font-size: 3.5rem;
		}
	}
}


.games-writing header h1 {
	width:100%;
 	position: absolute;
 	left: 0;
 	right: 0;
  	top: 150px;
  	margin: auto;
}

.games-writing-article header h1 {
    margin-top: -26px;
	width:100%;
 	position: absolute;
 	left: 0;
 	right: 0;
  	top: -70px;
    font-size:24px;
}

.home header h1 {
	width:100%;
 	position: absolute;
 	left: 0;
 	right: 0;
  	top: 150px;
  	margin: auto;
}


.home-tiles {
	margin-top:-100px;
}

/* .card img {
	width: 100%;
	transition: 0.5s all ease-in-out;
}

.card:hover img {
	transform: scale(1.5);
}
 */

//test
.inner {
	overflow: hidden;
}

.inner img {
	transition: all 4s ease;
}

.inner:hover img {
	transform: scale(1.1);
}



.home .card-block {
	margin-top: -50px;
    margin-left: 15px;
	font-weight:700;
}

.home .card-img-top {
    height:325px;
    border-radius:0!important;

}

.home .card {
    height:335px;
    border: solid 10px #fff!important;
    border-radius:0!important;
    margin-right:-10px;
}


@media (min-width: 767px) { 
	.home-tiles:nth-child(2), 
	.home-tiles:nth-child(3) {
		width: 40%;
		}
	}	
	
	@media (max-width: 767px) { 
	.home-tiles:nth-child(2), 
	.home-tiles:nth-child(3) {
		width: 100%;
		}
	}	

	
.home-tiles .card-title {
	position: absolute;
	color: #fff;
    font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 5px 5px 10px black;
}

.strapline {
	color: darkblue;
	&:before {
		content:open-quote;
	}
	&:after {
		content:close-quote;
	}
} 

.games-writing-article img {
    padding-top:80px;
}