
    {% if site.data.social %}
    <div class="social">
      {% for social in site.data.social %}
        <a href="{{ social.url }}" target="_blank">
          <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
        </a>
      {% endfor %}
    </div>
    {% endif %}
    
    <div class="columns">
      <p class="column">
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
        {%- if site.author -%}
          &nbsp;<a href="{{ site.author.url }}" target="_blank">{{ site.author.name }}</a>
        {%- endif -%}. All rights reserved.
      </p>
  
      {% if site.description %}
      <p class="column">
        {{ site.description }}
      </p>
      {% endif %}
    </div>
 

  <footer class="text-muted bg-dark mt-4 py-5">
    <div class="container ">
      <div class="row">
<div class="col">
Buy us a coffee?
If you enjoy our shows and want to treat us to a coffee, you can!

Ko-fi donationsSupport us on Ko-fi

</div>



<div class="col">

Patreonise us!
You can help us keep the lights running through Patreon.

We only have one tier at the moment, acting as a virtual tips jar, but we’ll add more soon with some exclusive content.  

</div>
<div class="col">

Want to be on one of our shows?
Got a decent mic and have opinions? Maybe there’s an upcoming release you’re itching to chat about?

Good news! We’re always looking for diverse folks to guest on our shows. Marginalised voices welcome and encouraged.

See how to apply.


</div>

      </div>


    </div>


  </footer>

       <!-- Bootstrap core JS-->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
       <!-- SimpleLightbox plugin JS-->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>

       <!-- Core theme JS-->
       <!-- <script src="{{ '/assets/js/script.js' | relative_url }}"></script> -->

