<!-- <header class="masthead">
    <h2 class="masthead-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h2>
    {% if site.tagline %}
      <h5 class="masthead-tagline">{{ site.tagline }}</h5>
    {% endif %}
    {% if site.data.navigation %}
      <nav class="nav">
        {% for item in site.data.navigation %}
          <a class="nav-item {% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>
        {% endfor %}
        </nav>
    {% endif %}
  </header> -->




        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
          <div class="container px-4 px-lg-5">
                
                {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}           
                    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
                    {%- if titles_size > 0 -%}


                <h1 class="mb-0 text-white text-uppercase">FLAME<span><b>ROAST</b></span>TOAST</h1>
              </a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    {{ site.data.navigation.navigation }}
                      {% for item in site.data.navigation.main %}  
                    <li class="nav-item">
                  
                        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                         
                      </li>
                      {%- endif -%}
                  </ul>
              </div>
          </div>
      </nav>