<!-- Navigation-->

{{ site.data.navigation.navigation }}
{% for item in site.data.navigation.tiles %}  
<div class="col-xs-12 col-md-7 p-0 home-tiles ">
  <article class="card {{ item.class }}" id="card">

                      <a href="{{ item.url  | relative_url }}">
                        <div class="loading">
                          <div class="dot one"></div>
                          <div class="dot two"></div>
                          <div class="dot three"></div>
                          <div class="dot four"></div>
                        </div>
                      
                      <div class="inner">
                        <img class="card-img-top img-responsive lazy" data-src="{{ item.image }}" alt="{{ item.title }}" />
                      </div>
                      <div class="card-block">
                        <h4 class="card-title">{{ item.title }}</h4>
                        </a>
                      </div>

              </article>
          </div>
          {% endfor %}  

