
{% if 'posts' == site.tiles-source %}
{% assign tiles = site.posts %}
{% elsif 'pages' == site.tiles-source %}
{% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}
<div class="col-4 border-white tiles">
{% for tile in tiles limit:site.tiles-count %}
<span class="image">
  <img src="{{ tile.image }}" alt="{{ tile.title }}" />
</span>
<header class="major">
  <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
</header>
{% endfor %}
</div>

