---
layout: default
---

<!-- Landing Start -->
<section class="blog">

  <header class="masthead">
    <!--TO DO Make this be in the md for this page -->
    <div class="hero-img" style="background:linear-gradient(0deg, rgba(0,0,0,0.7934524151457458) 0%, rgba(0,0,0,0.3) 60%), url('{{ page.image }}'); background-position-y: center" > </div>
      <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">{{ page.title }}</h1>
            </div>
        </div>
    </div>
  </header>

 
  <div class="page-content">
   {{ content }}
  </div>



</section>