---
layout: default
---

{% assign number_of_posts = 0 %} {% for post in site.posts %} 
{% if post.tags contains page.name or page.name == post.tags %} 
{% assign number_of_posts = number_of_posts | plus: 1 %} 
{% endif %} 
{% endfor %} 
{% if number_of_posts == 0 %}No posts{% elsif number_of_posts == 1 %}1 post
{% else %}
{{ number_of_posts }} posts{% endif %}

{% for post in site.posts %} 
{% if post.tags contains page.name or page.name == post.tags %} 
{{ post.title }} {% endif %} {% endfor %}

{{ page.name }}
{% if page.content.size > 1 %}
{{ page.content }}
{% endif %}