---
layout: default
permalink: /categories/
title: Categories
---
<div class="page-content">
    {{ content }}
</div>
<h2>THIS IS FROM THE CATEGORIES LAYOUT PAGE</h2>
<div id="archives">
{% for category in site.games-writing %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for page in site.games-writing[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>

{% for page in site.categories.editorials %}
 <li><span>{{ page.date | date_to_string }}</span> &nbsp; <a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}