---
layout: default
permalink: /categories/
title: Categories
---
<div class="page-content">
    {{ content }}
</div>
<h2>THIS IS FROM THE CATEGORIES LAYOUT PAGE</h2>
<div id="archives">
{% for category in site.games-writing %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for page in site.games-writing[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>

{% for page in site.categories.editorials %}
 <li><span>{{ page.date | date_to_string }}</span> &nbsp; <a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}



<div>
    <h1>Articles tagged with ""</h1>
    <ul style='padding-top: 16px;'>
    
    {% for page in site.games-writing %}
      {% if page.tags contains page.categories %}
        <li><a href="{{ page.url }}">{{ page.title }}</a>, published {{ page.date | date: "%Y-%m-%d" }}</li>
      {% endif %}
    {% endfor %}
    
    </ul>
  </div>

  <!--new-->
  
{% assign thisCollection = site.games-writing %}	
{% assign allCats =  thisCollection | map: 'categories' | join: ','  | split: ','  | group_by: category %}

{% for eachCat in allCats %}
  {% for page in thisCollection %}
    
    {% if page.categories contains eachCat.name %}

      {% assign thisCat = eachCat.name | append: '|' %}

      {% if category_array contains thisCat %}
        <!-- Apply your code here to display the category list -->
        <h4><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></h4>
      {% endif %}

      {% assign category_array = category_array | remove: thisCat %}
    {% endif %}

  {% endfor %}
{% endfor %}


<!--new-->

{% comment %}
=======================
The following part extracts all the tags from your pages and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for page in site.games-writing %}
	{% assign tags = page.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}


{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
{% for editorials in tags %}
	<a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}


{% comment %}
=======================
The purpose of this snippet is to list all your pages pageed with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
	<ul>
	 {% for page in site.pages %}
		 {% if page.tags contains tag %}
		 <li>
		 <h3>
		 <a href="{{ page.url }}">
		 {{ page.title }}
		 <small>{{ page.date | date_to_string }}</small>
		 </a>
		 {% for tag in page.tags %}
			 <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
		 {% endfor %}
		 </h3>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}


<h1>NEW</h1>
<h2>Here is a sample</h2>
{%- assign editorials = site.games-writing | where: 'category', 'editorials' -%}
{% for editorials in editorials %}
    <p>Title: {{ page.title }}</p>
{% endfor %}
