---
layout: default
---

<!-- Landing Start -->
<section class="comics-and-fiction">
  <header class="masthead">
    <!--TO DO Make this be in the md for this page -->
    <div
      class="hero-img"
      style="background:linear-gradient(0deg, rgba(0,0,0,0.7934524151457458) 0%, rgba(0,0,0,0.3) 60%), url('{{ page.image }}'); background-position-y: center;"
    ></div>
    <div class="container px-4 px-lg-5 h-100">
      <div
        class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
      >
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Landing End -->
  <div class="container">
    <div class="row">
      <article class="page">
        <div class="page-content">{{ content }}</div>
      </article>
    </div>
  </div>

  <div class="container landing-tiles">
    <div class="row justify-content-center">
      {% assign comics-and-fiction = site.comics-and-fiction | where:
      "category", "comics" | sort: 'published' | reverse %} {% for
      comics-and-fiction in comics-and-fiction %}
      <!-- <div class="card-wrapper col-lg-4 col-md-6 col-12 pt-4" data-aos="zoom-in-up">
  <article class="card card-animation" id="card">
    <div class="card category">{{ comics-and-fiction.category }}</div>
    <a href="{{ comics-and-fiction.url }}">
      <div class="inner">
        <img class="card-img-top img-responsive" src="{{ comics-and-fiction.url | replace: 'index', '' }}/{{ comics-and-fiction.bannerImage }}" alt="{{ comics-and-fiction.bannerImageAlt }}" />
      </div>
    <div class="card-block">
      <h4 class="card-title pt-2">{{ comics-and-fiction.title }}</h4>
      <p class="card-text">{{ comics-and-fiction.description | truncate: 160 }}</p>
      </a>
    </div>
  </article>
</div> -->

      <div
        class="card-wrapper col-10 mt-5 aos-init align-items-center aos-animate"
      >
        <div class="card mb-3" style="max-width: 540px">
          <div class="row no-gutters">
            <div class="col-md-5">
              <a href="{{ comics-and-fiction.externalLink }}">
                <img
                  src="{{ comics-and-fiction.url | replace: 'index', '' }}/{{ comics-and-fiction.bannerImage }}"
                  class="card-img-top img-responsive"
                  alt="..."
                />
              </a>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h2 class="card-title">{{ comics-and-fiction.title }}</h2>
                <p class="card-text">{{ comics-and-fiction.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!--
{% assign tags =  site.art | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for art in site.note %}
    {% if art.tags contains tag %}
    <li><a href="{{ site.baseurl }}{{ art.url }}">{{ art.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

</section>  
 -->
</section>
