<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.description }}</title>

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/comics-and-fiction/strangers-on-a-train/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/comics-and-fiction/strangers-on-a-train/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/comics-and-fiction/strangers-on-a-train/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/comics-and-fiction/strangers-on-a-train/site.webmanifest"
    />
    <style></style>
  </head>

  <body>
    <div class="wrapper">
      <div class="cover cover-{{ page.title }}">
        <div class="logo">
          <a href="/comics-and-fiction/strangers-on-a-train">
            <img src="Logo.webp" alt="logo" />
          </a>
        </div>
      </div>

      <div class="container">
        <div class="about-cover">
          <h1>{{ page.title }}</h1>
          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
