---
layout: default
---

  <!-- Landing Start -->
<section class="games-writing-article">
  
 
  <header class="masthead">
    <div class="hero-img" style="background:linear-gradient(0deg, rgba(0,0,0,0.7934524151457458) 0%, rgba(0,0,0,0.3) 60%), url('{{ page.bannerImage }}'); background-size:cover" ></div>
    <!-- <img src="{{ page.bannerImage }}" alt="{{ page.bannerImageAlt }}" > -->
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="animate__animated animate__fadeInDown text-white font-weight-bold">{{ page.title }}</h1>
                <p class="fs-4 text-center article-details">{{ page.publisher }}  |  {{ page.developer }}  |  {{ page.platform }}</p>
            </div>
        </div>
    </div>
  </header>

<!-- Landing End -->
<div class="container p-0 page-tile">
  <div class="row">
<article class="page">
 
  <div class="page-content mx-md-4 mx-4">

    
    
    <p class="fst-italic fs-2 text-center strapline">{{ page.strapline }}</p>


   {{ content }}
  </div>

</article>
</div>
</div>

<!-- <div class="container">
  <div class="row">
{% for games-writing in site.games-writing %}
<div class="col-xs-12 col-md-4 pt-4">
 
  <article class="card animated fadeInLeft">
    <div class="card category">{{ games-writing.category }}</div>
    <a href="{{ games-writing.url }}">
    <img class="card-img-top img-responsive" src="{{ games-writing.url | replace: 'index', '' }}/{{ games-writing.bannerImage }}" alt="{{ games-writing.bannerImageAlt }}" />
    <div class="card-block">
      <h4 class="card-title">{{ games-writing.title }}</h4>
      <p class="card-text">{{ games-writing.description | truncate: 160 }}</p>
      </a>
    </div>
  </article>
</div>
{% endfor %}  
</div>
</div> -->

</section>  



{% assign prevflag = 1 %}
{% assign nextflag = 1 %}

{% for c in site.games-writing %}
  {% if c.title == page.title %}
    {% assign currentItemIndex = forloop.index0 %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevflag == 1 %}
  {% assign prevItemIndex = currentItemIndex | minus: 1 %}
  {% assign prevPost = site.games-writing[prevItemIndex] %}
{% endif %}

{% if nextflag == 1 %}
  {% assign nextItemIndex = currentItemIndex | plus: 1 %}
  {% assign nextPost = site.games-writing[nextItemIndex] %}
{% endif %}

<div class="post-nav row justify-content-between m-3">
    {% if prevPost.url %}
    <div class="col-6 text-start">
    <a class="prev" rel="prev" href="{{ prevPost.url }}">
        <span>&lt; {{ prevPost.title }}</span>
<!--         <div class="prev-thumb">
          <img class="card-img-top img-responsive" src="{{ prevPost.url | replace: 'index', '' }}/{{ prevPost.bannerImage }}" alt="{{ prevPost.bannerImageAlt }}" />
        </div> -->
    </a>
    </div>
    {% endif %}
    {% if nextPost.url %}
    <div class="col-6 text-end">
    <a class="next" rel="next" href="{{ nextPost.url }}">
        <span>{{ nextPost.title }} &gt;</span>
<!--  
        <div class="next-thumb">
          <img class="card-img-top img-responsive" src="{{ nextPost.url | replace: 'index', '' }}/{{ nextPost.bannerImage }}" alt="{{ nextPost.bannerImageAlt }}" />
        </div> -->

    </a>
    </div>
    {% endif %}
</div>


