---
layout: default
---
  <!-- Landing Start -->
  <div class="container-fluid wow fadeIn hero" data-wow-delay="0.1s">
   <!-- <img src="{{ games-writing.bannerImage }}"> -->
    <div class="text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 text-white">{{ page.title }}</h1>
      </div>
    </div>
    <div class="hero-overlay"></div>
</div>
<!-- Landing End -->

  <!-- Post cards Start 
  <div class="container position-absolute wow fadeIn post-cards" data-wow-delay="0.1s">
    <div class="row">
      <div class="col-4 border-white">col-8</div>
      <div class="col-8 border-white">col-4</div>
  </div>
  <div class="row">
    <div class="col-4 border-white">col-4</div>
    <div class="col-4 border-white">col-4</div>
    <div class="col-4 border-white">col-4</div>
</div>
</div>
 Post cards End -->


<!-- <p>please work below</p>
{% for collection in site.collections %}
    {% if collection.label != 'games-writing' %}
        <h2>{{ collection.label }}</h2>
        {% for item in site[collection.label] %}
            <br><a href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    {% endif %}
{% endfor %} -->

<article class="page">
 
  <div class="page-content">
   {{ content }}
  </div>

</article>


{% for games-writing in site.games-writing %}
<div class="card" style="width: 18rem;">
  <a href="{{ games-writing.url }}">
  <img src="/{{games-writing.bannerImage }}" class="card-img-top" alt="{{ games-writing.bannerImageAlt }}" >
  <div class="card-body">
    <h2>{{ games-writing.title }}</h2>
    <p class="card-text">{{ games-writing.description | truncate: 160 }}</p>
  </div>
</div>
</a>
{% endfor %}  