---
layout: default
---
  <!-- Landing Start -->
  <div class="container-fluid wow fadeIn hero" data-wow-delay="0.1s">
   <!-- <img src="{{ games-writing.bannerImage }}"> -->
    <div class="text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 text-white">{{ page.title }}</h1>
      </div>
    </div>
    <div class="hero-overlay"></div>
</div>
<!-- Landing End -->

  <!-- Post cards Start 
  <div class="container position-absolute wow fadeIn post-cards" data-wow-delay="0.1s">
    <div class="row">
      <div class="col-4 border-white">col-8</div>
      <div class="col-8 border-white">col-4</div>
  </div>
  <div class="row">
    <div class="col-4 border-white">col-4</div>
    <div class="col-4 border-white">col-4</div>
    <div class="col-4 border-white">col-4</div>
</div>
</div>
 Post cards End -->



<article class="page">
 
  <div class="page-content">
   {{ content }}
  </div>

</article>

<p>{{ page.collection }}</p>
<p>{{ page.collection }}</p>



{% for games-writing in site.games-writing %}
<h2><img src="{{ page.image_path }}" alt="page.title" />{{ page.title }}</h2>
<div class="card" style="width: 18rem;">
  <a href="{{ games-writing.url }}">
  <img src="{{ games-writing.bannerImage }}" class="card-img-top" alt="{{ games-writing.bannerImageAlt }}" >
  <div class="card-body">
    <h2>{{ games-writing.title }}</h2>
    <p class="card-text">{{ games-writing.description | truncate: 160 }}</p>
  </div>
</div>
</a>
{% endfor %}  
