---
layout: default
---
HOME PAGE LAYOUT PAGEEEEEEE

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="page-content">
   {{ content }}
  </div>
</article>

<main>
  <div class="jumbotron jumbotron-fluid bg-dark p-5">


    <div class="container p-5">
      <h1 class="display-5 text-light">We're the GamePodular <br>
        podcast network.
      </h1>
      <div class="col-4">
      <p class="lead text-light">Check out our 3 tentpole shows, N-Focus,
                      PlayState and the Power of X on popular
                      streaming platform!
                    </p>
                  </div>              
    </div>
  </div>

  <div class="blog-landing mt-n5">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
          <div class="d-flex justify-content-center card-icon"> 

            <a class="nfbutton border border-white rounded"> 
              <div class="logo"><span>N</span><span>-</span><span>F</span><span>O</span><span>C</span><span>U</span><span>S</span></div></a>
            
            </div>
          <div class="card shadow-sm">
           <div class="card-img-top" width="100%" height="225">

              <img class="img-fluid" src="img/NF178.png" alt="preview">
       
            </div>

            <div class="card-body">

              <div class="card-title">title</div>
              <small class="text-muted date">18 Oct, 2021</small>
              <div class="d-flex justify-content-between align-items-center">
                <div class="socials">
                  <a class="btn btn-sm btn-social btn-fb" href="https://www.facebook.com/sharer/sharer.php?u=PAGE_URL" target="_blank" title="Share this post on Facebook">
                      <i class="fab fa-facebook-square"></i> Share
                  </a>
                    <a class="btn btn-sm btn-social btn-tw" href="https://twitter.com/intent/tweet?text=PAGE_TITLE&amp;url=PAGE_URL" target="_blank" title="Share this post on Twitter">
                      <i class="fab fa-twitter"></i> Tweet
                  </a>
                  <a class="btn btn-sm btn-social btn-gp" href="https://plus.google.com/share?url=PAGE_URL" target="_blank" title="Share this post on Google Plus">
                    <i class="fab fa-google-plus-g" data-fa-transform="grow-2"></i>
                  </a>
                  <a class="btn btn-sm btn-social btn-rd" href="https://www.reddit.com/submit?url=PAGE_URL&title=PAGE_TITLE" target="_blank" title="Share this post on Reddit">
                    <i class="fab fa-reddit-alien" data-fa-transform="grow-4"></i>
                  </a>
            
                </div> 
                
              </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center card-icon"> 

            <a class="nfbutton"> 
              <div class="logo"><span>N</span><span>-</span><span>F</span><span>O</span><span>C</span><span>U</span><span>S</span></div></a>
            
            </div>
          <div class="card shadow-sm">
            <div class="card-img-top" width="100%" height="225">
              <img class="img-fluid" src="img/Episode-34.png">

            </div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center card-icon"> 

            <a class="nfbutton"> 
              <div class="logo"><span>N</span><span>-</span><span>F</span><span>O</span><span>C</span><span>U</span><span>S</span></div></a>
            
            </div>
          <div class="card shadow-sm">
            <div class="card-img-top" width="100%" height="225">
              <img class="img-fluid" src="img/PS17.png">

            </div>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

       
        </div>
      </div>
    </div>
  </div>

</main>
