---
layout: default
---



<div class="post">
<h1>Tag: {{ page.tag }}</h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
</ul>
</div>
<hr>

{% assign tags =  site.games-writing | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for games-writing in site.games-writing %}
    {% if games-writing.tags contains tag %}
    <li><a href="{{ site.baseurl }}{{ games-writing.url }}">{{ games-writing.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}